body {
    background-image: url('images/bg-brusquecomdiversao.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
}

.container-principal {
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    display: grid;
}

.img-balao {
    z-index: 0;
    position: relative;
}

.balao-topo-titulo h2 {
    position: absolute;
    z-index: 2;
    top: 155px;
    padding-left: 145px;
    font-size: 45px;
    font-family: "Freckle Face", system-ui;
    color: #3a6135;
}

.dados-aluno {
    display: inline-grid;
    gap: 18px;
    font-size: large;
    max-width: 300px;
    margin-left: 200px;
}

.dados-aluno label {
    font-family: "Fredoka", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.dados-aluno input {
    font-family: "Fredoka", sans-serif;
    border: 2px solid black;
    padding: 10px;
    border-radius: 50px;
}

.botao-estilizacao {
    border: 5px solid #98c23f;
    padding: 10px;
    border-radius: 50px;
    background-color: #b2d548;
    cursor: pointer;
    font-family: "Fredoka", sans-serif;
    font-weight: bold;
    font-size: xx-large;
}

.balao-pergunta h2 {
    position: absolute;
    z-index: 2;
    top: 200px;
    padding-left: 190px;
    max-width: 35ch;
    font-size: x-large;
    font-family: inherit;
    color: #3a6135;
}

.imagens-secao {
    display: inline-flex;
    gap: 40px;
}

.imagens-secao img{
    width: 250px;
    height: 250px;
    cursor: pointer;
}
